<h2>Share</h2>
<TelerikButtonGroup SelectionMode="@ButtonGroupSelectionMode.Multiple">
    <ButtonGroupButton Icon="@FontIcon.Twitter"></ButtonGroupButton>
    <ButtonGroupButton Icon="@FontIcon.Facebook"></ButtonGroupButton>
    <ButtonGroupButton Icon="@FontIcon.Youtube"></ButtonGroupButton>
</TelerikButtonGroup>
<TelerikQRCode Value="mailto:clientservice@telerik.com" />