div.grid {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    column-gap: 2rem;
}

section.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.profile-avatar {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items:center;
}
.profile-avatar a {
    text-decoration:none;
    width:100%;
    padding: 1rem .5rem;
    border-radius: 2px;
}

.profile-avatar a:hover {
    background-color: rgba(0, 0, 0, .2);
}